:root {
  --primary-color: #b6302a;
  --secondary-color: #004DAD;
  --off-white: #f3eed9;
  --off-black: #233641;
  --gray: #e2e8ec;
  --font-family: "Vend Sans", sans-serif;
}

/* *********** NAVIGATION BAR *************** */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0;
  border-bottom: solid var(--off-black) 1px;
  column-gap: 8px;
  align-items: center;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: var(--off-black);
  font-family: var(--header-font);
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger::before {
  content: "☰";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7";
}

.navigation {
  display: none;
}
.navigation.show {
  display: block;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-gray);
}
.navigation a {
  display: block;
  padding: 0.8rem 10px;
  color: var(--off-black);
  text-decoration: none;
  border-bottom: solid var(--off-black) 1px;
}

.navigation li.current {
  background-color: var(--secondary-color);
}
.navigation li.current a {
  color: var(--off-white);
}

.navigation li:hover a{
  background-color: var(--primary-color);
  color: var(--off-white);
}

/* **************** GENERAL BODY ****************** */

body {
  font-family: var(--font-family);
}

main {
  color: var(--off-black);
}

main h1,
main h2 {
  font-family: var(--font-family);
}

/* ************  Toggle button  ***************** */

#toggle-view{
   display: flex;
   justify-content: end;
   margin-right:10px ;
}
#toggle-view button.active-btn{
    background-color: rgb(198, 198, 198);
}

#toggle-view button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 7px 15px;
  background-color: rgb(221, 221, 221);
}
#toggle-view button:first-child{
   border-radius: 5px 0 0 5px;
}
#toggle-view button:last-child{
   border-radius: 0  5px 5px 0 ;
}
#toggle-view button:hover{
  background-color: rgb(182, 181, 181);
}




/* **************** VARIABLE ****************** */

#member-cards.active {
  display: block;
}
#member-cards {
  display: none;
  margin: 0 auto;
}
.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--off-white);
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.member-card h3 {
  margin-bottom: 0;
}

#table-view.active{
  display: block;
}
#table-view {
  display: none;
  width: 100%;
  overflow-x: auto;
}

#table-view table{

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#table-view table tr:nth-child(even){
  border-collapse: collapse;
  border-spacing: 0;
  background-color:rgb(237, 237, 237) ;
  width: 100%;
}
#table-view table th,
#table-view table td
{
  min-width: 175px;
  white-space: nowrap;
  padding: 5px 0;
  text-align: center;
}



/* ************** FOOTER ***************** */

footer {
  background-color: var(--gray);
  padding: 1rem 0px;
  text-align: center;
  color: var(--off-black);
}

.soical-links {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.soical-links a {
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.soical-links img {
  width: 22px;
  height: 22px;
}
.soical-links a:hover {
  background-color: var(--primary-color);
}
