:root {
  --primary-color: #b6302a;
  --secondary-color: #004DAD;
  --off-white: #f3eed9;
  --off-black: #233641;
  --gray: #e2e8ec;
  --font-family: "Vend Sans", "Poiret One", sans-serif;
}

/* *********** NAVIGATION BAR *************** */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0;
  border-bottom: solid var(--off-black) 1px;
  column-gap: 8px;
  align-items: center;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: var(--off-black);
  font-family: var(--font-family);
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger::before {
  content: "☰";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7";
}

.navigation {
  display: none;
}
.navigation.show {
  display: block;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-gray);
}
.navigation a {
  display: block;
  padding: 0.8rem 10px;
  color: var(--off-black);
  text-decoration: none;
  border-bottom: solid var(--off-black) 1px;
}

.navigation li.current {
  background-color: var(--secondary-color);
}
.navigation li.current a {
  color: var(--off-white);
}

.navigation li:hover a{
  background-color: var(--primary-color);
  color: var(--off-white);
}

/* **************** GENERAL BODY ****************** */

body {
  font-family: var(--font-family);
}

main {
  color: var(--off-black);
}

main h1,
main h2 {
  font-family: var(--font-family);
}

/* ************  Toggle button  ***************** */

#toggle-view{
   display: flex;
   justify-content: end;
   margin-right:10px ;
}
#toggle-view button.active-btn{
    background-color: rgb(198, 198, 198);
}

#toggle-view button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 7px 15px;
  background-color: rgb(221, 221, 221);
}
#toggle-view button:first-child{
   border-radius: 5px 0 0 5px;
}
#toggle-view button:last-child{
   border-radius: 0  5px 5px 0 ;
}
#toggle-view button:hover{
  background-color: rgb(182, 181, 181);
}




/* **************** VARIABLE ****************** */

#CTA{
  font-weight: 800;
  text-align: center;
}

#CTA a{
  border: none;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--off-white);
}
#CTA a:hover{
  background-color: var(--secondary-color);
}

h1{
  margin-left: 4%;
}

#member-cards.active {
  display: block;
}
#member-cards {
  display: none;
  margin: 0 auto;
}
.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--off-white);
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.member-card h3 {
  margin-bottom: 0;
}

#table-view.active{
  display: block;
}
#table-view {
  display: none;
  width: 100%;
  overflow-x: auto;
}

#table-view table{

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#table-view table tr:nth-child(even){
  border-collapse: collapse;
  border-spacing: 0;
  background-color:rgb(237, 237, 237) ;
  width: 100%;
}
#table-view table th,
#table-view table td
{
  min-width: 175px;
  white-space: nowrap;
  padding: 5px 0;
  text-align: center;

  
}
/* ************ Landing Page ************* */
#hero img{
    width: 100%;
  }

  /* Events */

  #updates-section{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  #updates-section h2{
    text-align: center;
    background-color: var(--off-black);
    color: var(--off-white);
    margin:  0;
    padding:8px;

  }

  .home-display-items{
    width: 400px;
    margin: 0 10px;
    background-color: rgb(238, 238, 238);
  }

  #events-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #events-group h2{
    grid-column: 1/3;
  }
  #events-group img{
    grid-row: 2/4;
    width: 150px;
  }
  #events-group h3{
    margin-bottom: 0;
  }
  #events-group ul{
    /* list-style: none; */
    padding: 0;
  }
  .event-details ul li{
    list-style: none;
  }

  .event-details h4 {
    margin: 0;
  }

  #weather-group{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  #weather-group h2{ 
    grid-column: 1/3;

  }

  #weather-group img {
    width: 100px;
    margin: 0 auto;
  }
  #current-temp{
    font-weight: 800;
  }

  #forecast-group{
    display: flex;
    flex-direction: column;
  }
 
  #forecast-group p {
    align-self: center;

  }
  #forecast-group span {
    font-weight: 800;
  }

  .memberCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--off-black);
    border:none;
    background-color: var(--off-white);
    border-radius: 10px;
    margin:10px auto;
    max-width: 400px;
  }
  .memberCard h3{
    grid-column: 1/4;
    font-size: 24px;
    text-align: center;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--off-white);
  }
  .memberCard span{
    grid-column: 1/4;
    text-align: center;
    border-bottom: 1px solid var(--off-black);
    background-color: var(--secondary-color);
    color: var(--off-white);
  }
  .memberCard img{
    width: 150px;
    margin: 5px;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
  .memberCard ul{
    list-style: none;
    margin: 3px 10px;
    grid-column: 2/4;
    padding: 0;

  }
  .memberCard li{
    margin: 5px 0;
  }

/* ************** FOOTER ***************** */

footer {
  background-color: var(--gray);
  padding: 1rem 0px;
  text-align: center;
  color: var(--off-black);
}

.soical-links {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.soical-links a {
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.soical-links img {
  width: 22px;
  height: 22px;
}
.soical-links a:hover {
  background-color: var(--primary-color);
}
