:root {
  --primary-color: hsl(275, 85%, 54%);
  --secondary-color:#31546f ;
  --off-white: #e2d7e7;
  --off-black: #3c2944;
  --gray: #e7e2ec;
  --header-font:  "Playwrite NZ Basic", cursive;
  --body-font: "SN Pro", cursive;
}
/* *********** NAVIGATION BAR *************** */

header {
  display: grid;
  grid-template-columns: 94px auto 44px;
  padding: 5px 0;
  background-color: var(--off-black);

  column-gap: 8px;
  align-items: center;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: var(--off-white);
  font-family: var(--header-font);
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger::before {
  color: var(--off-white);
  content: "☰";
  font-size: 2rem;
}

.hamburger.show::before {
  color: var(--off-white);
  content: "\00D7";
}

.navigation {
  display: none;
}
.navigation.show {
  display: block;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-gray);
}
.navigation a {
  display: block;
  padding: 0.8rem 10px;
  color: var(--off-black);
  text-decoration: none;
  border-bottom: solid var(--off-black) 1px;
}

.navigation li.current {
  background-color: var(--secondary-color);
}
.navigation li.current a {
  color: var(--off-white);
}

.navigation li:hover a{
  background-color: var(--primary-color);
  color: var(--off-white);
}

/* **************** GENERAL BODY ****************** */

body {
  font-family: var(--body-font);
  margin: 0;
}

main {
  color: var(--off-black);
    margin: 0 10px ;
}

main h1,
main h2,
main h3
 {
  font-family: var(--header-font);
  font-size: 2rem;
}
main p{
  text-align: center;
}
h1{
  text-align:center;
}

p{
  line-height: 30px;
}

/* ************  Toggle button  ***************** */

#toggle-view{
   display: flex;
   justify-content: end;
   margin-right:10px ;
}
#toggle-view button.active-btn{
    background-color: rgb(198, 198, 198);
}

#toggle-view button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 7px 15px;
  background-color: rgb(221, 221, 221);
}
#toggle-view button:first-child{
   border-radius: 5px 0 0 5px;
}
#toggle-view button:last-child{
   border-radius: 0  5px 5px 0 ;
}
#toggle-view button:hover{
  background-color: rgb(182, 181, 181);
}

/* **************** VARIABLE ****************** */

 form{
  display: inline-block;
  width: 100%;
 }

input[type="text"]{
  width: 100%;
  height: 44px;
  font-size: 16px;
  box-sizing: border-box;
}
input[type="submit"]{
  border-radius: 5px;
  padding: 10px;
  border: none;
  display: block;
  margin: 10px auto;
}
input[type="submit"]:hover{
  color: var(--off-white);
  background-color: var(--off-black);
}

.mealCard{
  background-color: var(--gray);
  margin:30px;
  padding: 10px;
  border-radius: 5px;
  min-width: 250px;
}
.mealCard img{
  display: block;
  width: 250px;
  margin: 10px auto;
  transition: transform  0.3s ease,box-shadow 0.3s ease ;
}
.mealCard img:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px;
}

dialog{
  border: none;
}
dialog::backdrop{
  background-color: var(--off-white);
}
dialog p {
  text-align: left;
}

/* ************** Search ***************** */
/* ************** ABC ***************** */

 #alphabet {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
   
 }
 #alphabet a {

  margin: 40px;
   
 }

/* ************** FOOTER ***************** */

footer {
  background-color: var(--gray);
  padding: 1rem 0px;
  text-align: center;
  color: var(--off-black);
  margin-top: 30px;
}

.soical-links {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.soical-links a {
  display: flex;
  border: 1px solid var(--off-black);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.soical-links img {
  width: 22px;
  height: 22px;
}
.soical-links a:hover {
  background-color: var(--primary-color);
}