/* 
Primary: #6ff7b7
Secondary: #2f4858
*/

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid rgb(197, 197, 197) 1px;
  column-gap: 8px;
  align-items: end;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: #2f4858;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger::before{
    content: "☰";
    font-size: 2rem;
}

 .hamburger.show::before {
    content: "\00D7";
}

.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #2f4858;
    text-decoration: none;
    border-bottom: solid rgb(197, 197, 197) 1px;;

}

.navigation li.current{
    background-color: rgb(218, 218, 218);
}
.navigation li:hover{
    background-color: #6ff7b7;
}

footer{
    background-color:rgb(219, 219, 219) ;
    padding: 1rem 10px;
    text-align: center;
}

.soical-links{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.soical-links a {
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.soical-links img{
    width: 22px;
    height: 22px;
}
.soical-links a:hover{
background-color: #6ff7b7;
}