/* 
Primary: #6ff7b7
Secondary: #2f4858
*/

:root{
    --primary-color:#6ff7b7;
    --secondary-color:#2f4858;
    --dark-color:#18262e;
    --light-color:#effdf6;
    --main-gray: #dfdfdfe2;
    --header-font:"Poiret One";
    --body-font:"Parkinsans";
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0;
  border-bottom: solid var(--secondary-color) 1px;
  column-gap: 8px;
  align-items: center;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-family: var(--header-font);
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger::before{
    content: "☰";
    font-size: 2rem;
}

 .hamburger.show::before {
    content: "\00D7";
}

.navigation{
    display: none;

}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--main-gray);

}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color:  var(--secondary-color);
    text-decoration: none;
    border-bottom: solid  var(--secondary-color) 1px;;

}

.navigation li.current{
    background-color:  var(--light-color);
}
.navigation li:hover{
    background-color:  var(--primary-color);
}

body{
    font-family: var(--body-font);
}

main{
    color: var(--secondary-color);
}
section{
    margin: 5px;
    background-color: var(--light-color);
}

main h1, main h2 {
    font-family: var(--header-font);
}

h2{
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
}

section img{
    width: 200px;
    display: block;
    margin: 0 auto;
  
}

#filter-btns{
    display: flex;
    column-gap: 2px;
    justify-content: space-evenly;
}
#filter-btns button{
    background: none;
    background-color: var(--main-gray);
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    
    padding: 5px;
}
#filter-btns button:hover{

    background-color: var(--secondary-color);
    color: var(--light-color);

}
footer{
    background-color: var(--main-gray) ;
    padding: 1rem 0px;
    text-align: center;
    color: var(--secondary-color);
}

.soical-links{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.soical-links a {
    display: flex;
    border: 1px solid  var(--secondary-color);
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.soical-links img{
    width: 22px;
    height: 22px;
}
.soical-links a:hover{
background-color:  var(--primary-color);
}

.displayCourse{
    color:var(--secondary-color);
    background-color: var(--light-color);
    padding: 5px 0 ;
    margin: 1.1rem 0;
    text-align: center;
}

.completed::before{
    content: "✔️  ";
}

.completed{
    background-color: var(--primary-color);
}